body {
  margin: 5px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

.jumbotron {
    width:100%;
    height: 400px;
    background-image:url('../images/titanic.jpg');
    background-size: cover;
    text-align: center;
    color: #ffffff;
    
}
h1 {
  text-shadow: 3px 3px black;
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.fa-book-open {
    cursor: pointer;
    font-size: x-large;
}    
.fa-book {
    cursor: pointer;
    font-size: x-large;
}

#buttonSuccess {
  width: 80%;
  padding: 50px 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: lightgreen;
  margin-top: 20px;
  border-radius:5px;
  display: none;
}

.row{
  padding: 5px;
  margin: 10px;
}
.fun {
  font-size: large;
  background-color: green;
  color: white;
}
.dashboard {
  background-color: green;
  color: white;
}